<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="buscar">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="paraTi">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Para ti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premium">
      <ion-icon class="big" src="assets/icon/playstack-icon.svg"></ion-icon>
      <ion-label>Premium</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>